
<div class="text-center">
  <br>
  <%= link_to 'Registrar', users_sign_up_path,  :class => 'btn btn-success' %><br>
  <br>
  <%= link_to 'Acceder', users_sign_in_path,  :class => 'btn btn-info' %>
</div>
